<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
	<title>MyContact</title>
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous" />
	<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous" />
	<!-- Custom style -->
	<link href="../static/css/style.css" th:href="@{/css/style.css}" rel="stylesheet" />
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</head>

<body>
	<div class="container" id="main-content">
		<div class="row d-flex justify-content-center">
			<form style="min-width: 300px;" action="#" th:action="@{/contact/save}" th:object="${contact}" method="post"
				  novalidate="novalidate">

				<input type="hidden" th:field="*{id}" />

				<div class="form-group">
					<i>Tên liên hệ</i>
					<input class="form-control" type="text" placeholder="Tên liên hệ" th:field="*{name}" th:errorclass="field-error" />
					<em th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></em>
				</div>

				<div class="form-group">
					<i>Email</i>	
					<input class="form-control" type="email" placeholder="Email" th:field="*{email}" th:errorclass="field-error" />
					<em th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></em>
				</div>

				<div class="form-group">
					<i>Số điện thoại</i>
					<input class="form-control" type="text" placeholder="Số điện thoại" th:field="*{phone}" />
				</div>

				<div class="form-group">
					<button type="submit" class="btn btn-block btn-primary">
						Lưu liên hệ
					</button>
				</div>
			</form>
		</div>
	</div>
</body>
</html>