<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
	<title>MyContact</title>
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous" />
	<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous" />
	<link href="../static/css/style.css" th:href="@{/css/style.css}" rel="stylesheet" />
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</head>
<body>
	<div class="container" id="main-content">
		<div class="row">
			<div class="col-6 no-padding">
				<form class="form-inline" action="#" th:action="@{/contact/search}" method="get">
					<input class="form-control mr-sm-2" type="search" name="term" placeholder="Tìm kiếm ..." />
					<button class="btn btn-primary" type="submit">
						Tìm 
					</button>
				</form>
			</div>

			<div class="col-6 no-padding">
				<a href="#" th:href="@{/contact/add}" class="btn btn-success float-right">
					Thêm liên hệ
				</a>
			</div>
		</div>

		<div class="row mt-4">
			<div th:if="${successMessage}" class="col-12 alert alert-success alert-dismissible fade show" role="alert">
				<span th:text="${successMessage}"></span>
				<button type="button" class="close" data-dismiss="alert" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>

			<th:block th:if="${#lists.isEmpty(contacts)}">
				<h5>Không có liên hệ</h5>
			</th:block>

			<th:block th:unless="${#lists.isEmpty(contacts)}">
				<div class="table-responsive">
					<h5>Danh sách liên hệ</h5>
					<table class="table table-bordered table-hover">
						<thead>
						<tr>
							<th>#</th>
							<th>Tên</th>
							<th>Email</th>
							<th>Số điện thoại</th>
							<th>Thao tác</th>
						</tr>
						</thead>
						<tbody>
						<tr th:each="contact,iterStat : ${contacts}">
							<th scope="row" th:text="${iterStat.count}"></th>
							<td th:text="${contact.name}"></td>
							<td th:text="${contact.email}"></td>
							<td th:text="${contact.phone}"></td>
							<td>
								<a href="#" th:href="@{/contact/{id}/edit(id=${contact.id})}" >
									Sửa
								</a>
								<a href="#" th:href="@{/contact/{id}/delete(id=${contact.id})}" >
									Xóa
								</a>
							</td>
						</tr>
						</tbody>
					</table>
				</div>
			</th:block>
		</div>
	</div>
</body>
</html>